# Directories
.sass-cache/**
.tsc/**
_site/**
bower_components/**
coverage/**
dist/**
docs/**
node_modules/**
reports/**
typings/**

# Files
.env.yml
.env.*.yml
npm-debug.log
phantomjsdriver.log

# Crap
.DS_Store
.Thumbs.db
