// ========================================================================== //
//     $IMAGES                                                                //
// ========================================================================== //

//
img {
    font-style: italic;
    max-width: 100%;
}

//
img[height],
img[width] {
    max-width: none;
}

//
figure > img {
    display: block;
}
