<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= file.dir %><%= file.name %></title>
    <style>
        .otherwise--hide {
            display: none;
        }
    </style>
</head>
<body>

    <span class="otherwise--hide"></span>
    <span class="otherwise--show"></span>

    <span class="when-lte-xsm--show"></span>
    <span class="when-lte-xsm--hide"></span>

    <span class="when-lt-xsm--show"></span>
    <span class="when-lt-xsm--hide"></span>

    <span class="when-xsm--show"></span>
    <span class="when-xsm--hide"></span>

    <span class="when-gt-xsm--show"></span>
    <span class="when-gt-xsm--hide"></span>

    <span class="when-gte-xsm--show"></span>
    <span class="when-gte-xsm--hide"></span>

    <span class="when-lte-sm--show"></span>
    <span class="when-lte-sm--hide"></span>

    <span class="when-lt-sm--show"></span>
    <span class="when-lt-sm--hide"></span>

    <span class="when-sm--show"></span>
    <span class="when-sm--hide"></span>

    <span class="when-gt-sm--show"></span>
    <span class="when-gt-sm--hide"></span>

    <span class="when-gte-sm--show"></span>
    <span class="when-gte-sm--hide"></span>

    <span class="when-lte-md--show"></span>
    <span class="when-lte-md--hide"></span>

    <span class="when-lt-md--show"></span>
    <span class="when-lt-md--hide"></span>

    <span class="when-md--show"></span>
    <span class="when-md--hide"></span>

    <span class="when-gt-md--show"></span>
    <span class="when-gt-md--hide"></span>

    <span class="when-gte-md--show"></span>
    <span class="when-gte-md--hide"></span>

    <span class="when-lte-lg--show"></span>
    <span class="when-lte-lg--hide"></span>

    <span class="when-lt-lg--show"></span>
    <span class="when-lt-lg--hide"></span>

    <span class="when-lg--show"></span>
    <span class="when-lg--hide"></span>

    <span class="when-gt-lg--show"></span>
    <span class="when-gt-lg--hide"></span>

    <span class="when-gte-lg--show"></span>
    <span class="when-gte-lg--hide"></span>

    <span class="when-lte-xlg--show"></span>
    <span class="when-lte-xlg--hide"></span>

    <span class="when-lt-xlg--show"></span>
    <span class="when-lt-xlg--hide"></span>

    <span class="when-xlg--show"></span>
    <span class="when-xlg--hide"></span>

    <span class="when-gt-xlg--show"></span>
    <span class="when-gt-xlg--hide"></span>

    <span class="when-gte-xlg--show"></span>
    <span class="when-gte-xlg--hide"></span>

</body>
</html>
