// ************************************************************************** //
//                                                                            //
//     Q U A R K S                                                            //
//                                                                            //
// ************************************************************************** //

// ========================================================================== //
//     $BREAKPOINTS                                                           //
// ========================================================================== //

$USE_BREAKPOINTS:                                                          true;
$USE_BREAKPOINTS_FALLBACKS:                                                true;
$USE_BREAKPOINTS_HIDE:                                                     true;
$USE_BREAKPOINTS_SHOW:                                                     true;
$USE_BREAKPOINTS_LTE:                                                      true;
$USE_BREAKPOINTS_LT:                                                       true;
$USE_BREAKPOINTS_EQ:                                                       true;
$USE_BREAKPOINTS_GT:                                                       true;
$USE_BREAKPOINTS_GTE:                                                      true;

$BREAKPOINT_REGION_NAMES: (
    "xsm"   null  319px,
    "sm"   320px  767px,
    "md"   768px  991px,
    "lg"   992px 1199px,
    "xlg" 1200px   null
);

$BREAKPOINT_PREFIX_NAME:                                                 "when";
$BREAKPOINT_FALLBACK_NAME:                                          "otherwise";

// ************************************************************************** //
//                                                                            //
//     N E U T R O N S                                                        //
//                                                                            //
// ************************************************************************** //

// ========================================================================== //
//     $CLEARFIX                                                              //
// ========================================================================== //

$clearfix-name:                                                      "clearfix";

// ************************************************************************** //
//                                                                            //
//     A T O M S                                                              //
//                                                                            //
// ************************************************************************** //
